- name: Create .env.json
  copy:
    content: "{{ django_jsonsettings_properties }}"
    dest: "{{ django_path }}/.env.json"
  register: env_json_config

- include: trigger_reload.yml
  when: "env_json_config|changed"
